<!DOCTYPE html>
<html>

<head>
  <title>ESP32 LED control</title>
</head>

<body>
  <div>
    <div>
      <div>
        <h1 id="statusMessage">Status do LED: <%= status %>
        </h1>
      </div>

      <div>
        <form action="/led/on" method="post">
          <button id="turnOnButton" type="submit">Ligar LED</button>
        </form>
      </div>

      <br>

      <div>
        <form action="/led/off" method="post">
          <button id="turnOffButton" type="submit">Desligar LED</button>
        </form>
      </div>
    </div>

  </div>

  <script>
    setInterval(() => {
      fetch('/status')
        .then(response => response.json())
        .then(data => {
          document.querySelector('#statusMessage').innerText = `Status do LED: ${data.status}`;
        });
    }, 500);
  </script>
</body>


</html>